body {
	margin: 0;
	padding: 0;
	background-color: rgb(47, 79, 79);
	font-family: 'Sunflower', sans-serif;
	line-height: 1.4;
	width: 100%;
	height: 100%;
}

h3 {
	color: aliceblue;
	padding: 0.5em;
	letter-spacing: 1px;
}

input {
	border: none;
	padding: 8px;
	max-width: 3em;
	text-align: center;
	font-size: 1em;
	font-family: 'Sunflower', sans-serif;
	color: rgb(47, 79, 79);
}

.btn {
    background-color: DarkCyan;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    transition: 0.3s;
    cursor: pointer;
    display: inline-block;
	letter-spacing: 1px;
	z-index: 99;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	margin: 0 0.5em;
	font-size: 1.3em;
	border-bottom: 2px solid rgb(12, 77, 77, 0.5);
}

.btn:hover {
	background-color: AliceBlue;
	color: darkcyan;
}

.btn:active {
	background-color: rgba(74, 116, 116, 0.5);
	color: aliceblue;
}

.container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.svg-container {
	margin: 50px auto;
	width: 40%;
}

svg {
	fill: AliceBlue;
	overflow: visible;
}

path {
	transition: 0.3s ease-in-out;
}

.mild, .medium, .extreme, .custom {
	display: inline;
	cursor: pointer;
	background-color: DarkCyan;
    color: white;
    font-size: 1em;
    padding: 0.85em;
	transition: 0.2s;
	margin: 0 16px;
	border-bottom: 2px solid rgb(12, 77, 77, 0.5);
}

.mild:hover, .medium:hover, .extreme:hover {
	background-color: rgba(145, 231, 231, 0.75);
	color:  rgb(47, 79, 79);
}

.active-variance {
	background-color: aliceblue;
	color: darkcyan;
}

.active-variance:hover {
	background-color: aliceblue;
	color: darkcyan;
	cursor: default;
}