body {
	margin: 0;
	padding: 0;
	background-color: rgb(47, 79, 79);
	font-family: 'Sunflower', sans-serif;
	line-height: 1.4;
}

h3 {
	color: aliceblue;
	padding: 0.5em;
	letter-spacing: 1px;
}

input {
	border: none;
	padding: 8px;
	max-width: 3em;
	text-align: center;
	font-size: 1em;
	font-family: 'Sunflower', sans-serif;
	color: rgb(47, 79, 79);
}

.btn {
    background-color: DarkCyan;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    transition: 0.3s;
    cursor: pointer;
    display: inline-block;
	letter-spacing: 1px;
	z-index: 99;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	margin: 0 0.5em;
	font-size: 1.3em;
	border-bottom: 2px solid rgb(12, 77, 77, 0.5);
}

.btn:hover {
	background-color: AliceBlue;
	color: darkcyan;
}

.btn:active {
	background-color: rgba(74, 116, 116, 0.5);
	color: aliceblue;
}

svg {
	transform: scale(0.75,0.75);
	fill: AliceBlue;
	width: 500px;
	height: 500px;
	overflow: visible;
}

.container {
	height: 100vh;
	width: 70vw;
	margin: 0 auto;
	text-align: center;
}

.svg-container {
/*	margin: 0 auto;
	width: 100%;*/
	text-align: center;
}

path {
	transition: 0.3s ease-in-out;
}

/* .user-control {
	display: block;
} */